<h2><%= @user.name %></h2>

<% if @user == current_user %>
<div class="field">
  email: <%= @user.email %>
</div>
<% end %>

<div class="field">
  name: <%= @user.name %>
</div>

<% if current_user == @user %>
  <%# TODO 自分の詳細ページ処理 %>
<% elsif @one_on_one_room %>
  <%= link_to "チャット", room_path(@one_on_one_room) %>
<% else %>
  <%= form_tag(rooms_path, method: "post") do %>
    <%= hidden_field_tag "is_group", false %>
    <%= hidden_field_tag "name", @user.name %>
    <%= hidden_field_tag "user_ids[]", @user.id %>
    <%= submit_tag "チャット" %>
  <% end %>
<% end %>