<h2>グループを編集する</h2>

<%= form_tag(room_path(@room), method: "patch") do %>
  <div class="name">
    <%= label_tag :name, "グループ名" %>
    <%= text_field_tag "name", @room.name %>
  </div>
  <br />
  <div class="users">
    <h4>招待するユーザー</h4>
    <ul>
    <% @friend_users.each_with_index do |user, i| %>
      <% if @room.can_add?(user) %>
      <li><%= check_box_tag "user_ids[]", user.id %>
      <%= label_tag "user_ids[#{user.id}]", user.name %></li>
      <% end %>
    <% end %>
  </div>
  
  <br />
  <%= hidden_field_tag "is_group", true %>
  
  <%= submit_tag "保存" %>
<% end %>