<h2>グループを作成する</h2>

<%= form_tag(rooms_path, method: "post") do %>
  <div class="name">
    <%= label_tag :name, "グループ名" %>
    <%= text_field_tag "name" %>
  </div>
  <br />
  <div class="users">
    <h4>招待するユーザー</h4>
    <ul>
    <% @friend_users.each_with_index do |user, i| %>
      <li><%= check_box_tag "user_ids[]", user.id %>
      <%= label_tag "user_ids[#{user.id}]", user.name %></li>
    <% end %>
  </div>
  
  <br />
  <%= hidden_field_tag "is_group", true %>
  
  <%= submit_tag "グループ作成" %>
<% end %>